*, 
*::after,
*::before {
    box-sizing: border-box;
}

/* Fonts */

body, li, input {
    font-family: 'Oxygen', sans-serif;
}

/* Nav */

nav {
    display: flex;
    margin: 0 auto;
    padding: .5rem;
    max-width: 85%;
    border: 1px dotted blue;
}

ul {
    list-style: none;
    display: flex;
    margin-left: 0;
    padding-left: 0;
}

li {
    padding: .25em;
    margin-left: 0;
}

a {
    text-decoration: none;
    font-weight: bolder;
}

/* Main */

.main-container {
    margin: 0 auto;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: center;
    max-width: 85%;
}

/* Blurb / Hero */

.hero-segment {
    border: 2px solid blue;
    padding: 1em;
    margin: 1em;
}

/* Form */

.input {
    margin-bottom: .5rem;
    font-size: 1.125rem;
    padding: .25rem;
    text-align: left;
}

.email-form {
    border: 2px solid yellow;
    padding: 1em;
    display: flex;
    flex-direction: column;
    margin: 1em;

}

.form-inputs {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 95%;
}

/* Buttons */

.join-btn, .submit-btn {
    margin: .25rem auto;
    padding: .5rem .75rem;
    border-radius: 5px;
    background-color: whitesmoke;
    color: black;
    font-size: 1rem;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}

.join-btn {
    display: flex;
}

/* Footer */

footer {
    padding: 1em;
    text-align: center;
    margin: 0 auto;
    color:dimgray;
}

small {
    padding: .25em;
}

/* Contact Form */

.contact-page {
    display: flex;
    flex-direction: column;
}
.contact-input {
    padding: .125rem;
    margin-left: .125rem;
}

.contact-label {
    display: flex;
    font-weight: 700;
    padding: 1rem;
}

/* Media Queries */

@media only screen and (min-width: 600px) {
    .main-container {
        flex-direction: row;
    }

   
}


