*, 
*::after,
*::before {
    box-sizing: border-box;
}

/* Nav */

ul {
    list-style: none;
    display: flex;
    margin-left: 0;
}

li {
    padding: .25em;
    margin-left: o;
}

/* Main */

.main-container {
    margin: 0 auto;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.hero-segment {
    border: 2px solid blue;
    padding: 1em;
}

/* Form */

.input {
    margin-bottom: .25rem;
    font-size: 1.125rem;
}

.email-form {
    border: 2px solid yellow;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.form-inputs {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    margin: .125em;
}

/* Footer */

footer {
    padding: 1em;
}

small {
    padding: .25em;
}

/* Media Queries */

@media only screen and (min-width: 600px) {
    .main-container {
        flex-direction: row;
    }

   
}


